<!DOCTYPE html>
<html>
  <head>
    <title>Word Count!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
      <h2>Write a Phrase and then a Word, and we will count how many times the word in in the phrase!</h2>
      <form action ="/wordcount">
      <label for="phrase">Write a phrase:</label>
      <input id="phrase" name="phrase" class="form-control" type="text">
      <label for="word">Write a word to check for in the phrase:</label>
      <input id="word" name="word" class="form-control" type="text">
      <button type='submit' class='btn'>Go!</button>
      </form>
      <h1></h1>
  </body>
</html>
